body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, th, td {
  border: 1px solid black;
}

fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
a,
a:hover {
  text-decoration: none;
}
* {
  outline: none;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?82578114');
  src: url('../fonts/fontello.eot?82578114#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?82578114') format('woff'), url('../fonts/fontello.ttf?82578114') format('truetype'), url('../fonts/fontello.svg?82578114#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fontello-icon,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-arrows-cw:before {
  content: '\e800';
}
/* '' */
.icon-down-open:before {
  content: '\e801';
}
/* '' */
.icon-up-open:before {
  content: '\e802';
}
/* '' */
.icon-cancel:before {
  content: '\e803';
}
/* '' */
.icon-ok:before {
  content: '\e804';
}
/* '' */
.icon-search:before {
  content: '\e805';
}
/* '' */
.icon-left-open:before {
  content: '\e806';
}
/* '' */
.icon-right-open:before {
  content: '\e807';
}
/* '' */
.icon-pencil:before {
  content: '\e808';
}
/* '' */
.icon-rouble:before {
  content: '\e809';
}
/* '' */
.icon-user:before {
  content: '\e80a';
}
/* '' */
.icon-location:before {
  content: '\e80b';
}
/* '' */
.icon-help-circled:before {
  content: '\e80c';
}
/* '' */
/* Variables */
/* Colors */
/* Tariff list */
/* Landing page */
/* Fonts */
.BrickTradingWeb {
  font-family: "BrickTrading Web", Arial, sans-serif;
}
.BrickTradingWebBold {
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
}
/* Presets */
.box-sizing-border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Animation */
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.load-animation {
  z-index: 100;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.block-shadow {
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 4px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 4px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 4px 7px rgba(0, 0, 0, 0.1);
}
.iconset {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
/* Widgets */
/* Header widgets */
.wg-user-menu {
  float: right;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 33px 0 0 0;
}
.wg-user-menu .user-name {
  font-size: 18px;
  color: #B0B3B7;
  text-align: right;
  margin: 0 10px 4px 0;
}
.wg-user-menu .user-name .notifications {
  margin-left: 5px;
  background-color: #8BB940;
  padding: 2px 5px;
  /* Для хороших браузеров */
  -moz-border-radius: 10px;
  /* Firefox */
  -webkit-border-radius: 10px;
  /* Safari, Chrome */
  -khtml-border-radius: 10px;
  /* KHTML */
  border-radius: 10px;
  /* CSS3 */
  font-size: 12px;
  color: white;
  font-family: "BrickTrading Web", Arial, sans-serif;
  display: inline-block;
  height: 14px;
  min-width: 8px;
  text-align: center;
}
.wg-user-menu .select-phone {
  float: right;
  cursor: pointer;
}
.wg-user-menu .select-phone .user-phone {
  margin-right: 10px;
  font-size: 26px;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  float: left;
  text-align: right;
}
.wg-user-menu .select-phone .selector {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -2px -35px;
  width: 17px;
  height: 13px;
  float: left;
  margin-top: 9px;
}
.wg-account-settings {
  border-radius: 4px;
  border: 1px solid #545b6e;
  float: right;
  display: block;
  margin: 25px 0 25px 28px;
  padding: 11px;
  width: 190px;
  box-sizing: border-box;
}
.wg-account-settings .img-person {
  font-family: WebSymbolsLiga;
  color: #545b6e;
  font-size: 12px;
  margin-right: 9px;
}
.wg-account-settings a {
  color: #ffffff;
  text-decoration: underline;
}
.wg-as-progressbar {
  width: 100%;
  background-color: #545b6e;
  height: 16px;
  text-align: center;
  line-height: 16px;
  margin-top: 15px;
  position: relative;
}
.wg-as-progressbar .text {
  color: #ffffff;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-size: 10px;
  margin-top: -15px;
  display: block;
}
.wg-as-progressbar .filling {
  background: #a2c500;
  /* Для старых браузров */
  background: linear-gradient(to left, #a2c500, #83b200);
  height: 100%;
}
/* Home page */
.wg-progress-thin {
  background: url("../../resources/img/progress-bg.png");
  width: 100%;
  height: 8px;
  position: relative;
}
.wg-progress-thin .filling {
  background-color: #ffffff;
  height: 100%;
  display: block;
}
.wg-list {
  width: 100%;
  display: block;
  list-style: none;
}
.wg-list li {
  height: 19px;
  padding: 21px 33px;
  border-bottom: 1px solid #e8e9eb;
  position: relative;
}
.wg-list li:first-child {
  border-top: 1px solid #e8e9eb;
}
.wg-list li a {
  font-size: 16px;
  color: #545b6e;
}
.wg-list li a:hover {
  text-decoration: underline;
}
.wg-list li.clickable {
  padding: 0;
  height: auto;
}
.wg-list li.clickable a {
  display: block;
  padding: 21px 33px;
  font-size: 16px;
  color: #545b6e;
}
.wg-list li.clickable a:hover {
  background-color: #ffffff;
  text-decoration: none;
}
.wg-list li i.details {
  width: 20px;
  height: 20px;
  background-position: -6px -202px;
  top: 21px;
}
.wg-list li i.view-drafts {
  width: 20px;
  height: 12px;
  background-position: -6px -222px;
  top: 26px;
}
.wg-list li i.promised-payment {
  width: 20px;
  height: 21px;
  background-position: -6px -234px;
  top: 20px;
}
.wg-list li i.block-sim {
  width: 21px;
  height: 14px;
  background-position: -6px -255px;
  top: 23px;
}
.wg-list li .description {
  color: #a5a9b3;
  font-size: 13px;
  line-height: 20px;
}
.wg-list li .list-action {
  float: right;
}
.wg-list li .list-action a:hover {
  text-decoration: none;
}
.wg-list li .list-action .action-delete {
  color: #ff0000;
}
.wg-list li .list-action .action-edit {
  color: #00ff00;
}
.wg-list li .list-action .action-edit:hover {
  color: darkgreen;
}
.wg-simple-list {
  display: block;
  list-style: none;
  margin: 30px -52px 30px -35px;
}
.wg-simple-list li {
  height: 19px;
  padding: 13px 33px;
  /*line-height: 60px;*/
  border-bottom: 1px solid #e4e9ee;
  position: relative;
}
.wg-simple-list li:first-child {
  border-top: 1px solid #e4e9ee;
}
/* ------------- */
.wg-selectbox-button {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -2px -30px;
  height: 20px;
  width: 17px;
  right: 11px;
  top: 8px;
  position: absolute;
  cursor: pointer;
}
.wg-selectbox-item {
  font-size: 14px;
  text-overflow: ellipsis;
  color: black;
  background-color: #FFFFFF;
  padding: 3px 14px;
  margin: 0 0 0.8em 3em;
  border: none;
  line-height: 1.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wg-selectbox {
  position: relative;
}
.wg-selectbox .select {
  border: 1px solid #e4e9ee;
  position: relative;
  padding: 10px 30px 10px 10px;
  font-size: 14px;
  text-overflow: ellipsis;
  color: black;
  background-color: #FFFFFF;
  height: 17px;
}
.wg-selectbox .select:after {
  content: "";
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -2px -30px;
  height: 20px;
  width: 17px;
  right: 11px;
  top: 8px;
  position: absolute;
  cursor: pointer;
}
.wg-selectbox .select.placeholder {
  color: #a5a9b3;
}
.wg-selectbox .options {
  display: none;
  border: 1px solid #e4e9ee;
  border-top: none;
  position: absolute;
  margin-top: -2px;
  width: 100%;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wg-selectbox .options li {
  font-size: 14px;
  text-overflow: ellipsis;
  color: black;
  background-color: #FFFFFF;
  padding: 3px 14px;
  margin: 0 0 0.8em 3em;
  border: none;
  line-height: 1.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wg-selectbox .options li:hover,
.wg-selectbox .options li.active {
  background-color: #000000;
  color: #FFFFFF;
}
.wg-selectbox .options li:hover + .active {
  color: black !important;
  background-color: #FFFFFF !important;
}
.wg-input {
  width: 100%;
  height: 39px;
  font-size: 14px;
  padding: 10px 30px 10px 10px;
  text-overflow: ellipsis;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wg-input.validation-error {
  border: 1px solid red;
}
.wg-toolbar {
  margin-bottom: 30px;
  /*  a{
    &.btn{
      padding: 12px 27px;
      height: auto;
      &.disable{
        border: 1px solid @border-grey;
        color: #000000 !important;
        &:hover{
          border: 1px solid @border-grey;
          color: #000000 !important;
        }
      }
      &.btn-primary{
        color: #FFFFFF;
        padding: 11px 26px !important;
      }

    }
  }
*/
}
.wg-toolbar .toolbar-btn {
  display: inline-block;
  margin-right: 7px;
  padding: 13px 20px;
  color: #000000;
  font-size: 14px;
  border: 1px solid #9a99a5;
  /* Для хороших браузеров */
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari, Chrome */
  -khtml-border-radius: 3px;
  /* KHTML */
  border-radius: 3px;
  /* CSS3 */
  cursor: pointer;
}
.wg-toolbar .toolbar-btn:hover {
  background-color: #C8CACF;
  border-color: #C8CACF;
}
.wg-toolbar .toolbar-btn.active {
  background-color: #9899a4;
  color: #FFFFFF;
}
.wg-toolbar .toolbar-btn.active:hover {
  border: 1px solid #9a99a5;
}
.wg-toolbar .toolbar-link {
  display: inline-block;
  margin-right: 7px;
  padding: 13px 20px;
  color: #8bb940;
  font-size: 14px;
  cursor: pointer;
}
.wg-toolbar .toolbar-link:hover {
  text-decoration: underline;
}
.wg-radio-button {
  display: inline-block;
}
.wg-radio-button label.radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #aaadb7;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wg-radio-button input[type=radio] {
  display: none;
}
.wg-radio-button input[type=radio]:checked + label:before {
  content: '';
  background-color: #31b216;
  width: 12px;
  height: 12px;
  display: block;
}
.wg-radio-switcher label.radio {
  display: inline-block;
  /* Для хороших браузеров */
  -moz-border-radius: 4px;
  /* Firefox */
  -webkit-border-radius: 4px;
  /* Safari, Chrome */
  -khtml-border-radius: 4px;
  /* KHTML */
  border-radius: 4px;
  /* CSS3 */
  cursor: pointer;
  position: relative;
  font-size: 15px;
  width: 71px;
  height: 32px;
  text-align: center;
  line-height: 31px;
  margin-right: 6px;
}
.wg-radio-switcher input[type=radio] {
  display: none;
}
.wg-radio-switcher input[type=radio]:checked + label {
  background-color: #9899a4;
  color: #FFFFFF;
}
.wg-checkbox {
  display: inline-block;
}
.wg-checkbox label.checkbox {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #aaadb7;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wg-checkbox label.checkbox:before {
  content: "\e803";
  color: transparent;
}
.wg-checkbox input[type=checkbox] {
  display: none;
}
.wg-checkbox input[type=checkbox]:checked + label:before {
  content: '\e803';
  color: #31b216;
}
/* jQuery UI theme */
.ui-widget-overlay {
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  /* IE 5.5+*/
  -moz-opacity: 0.5;
  /* Mozilla 1.6 и ниже */
  -khtml-opacity: 0.5;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0.5;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
}
.ui-tabs li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px 10px 0 0;
  padding: 13px 22px;
  white-space: nowrap;
  border: 1px solid #9899a4;
  /* Для хороших браузеров */
  -moz-border-radius: 4px;
  /* Firefox */
  -webkit-border-radius: 4px;
  /* Safari, Chrome */
  -khtml-border-radius: 4px;
  /* KHTML */
  border-radius: 4px;
  /* CSS3 */
  font-size: 14px;
  cursor: pointer;
}
.ui-tabs li a {
  color: #000000;
}
.ui-tabs li.ui-state-active {
  background-color: #9899a4;
}
.ui-tabs li.ui-state-active a {
  color: #FFFFFF;
  text-decoration: none;
}
.ui-helper-clearfix {
  min-height: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
/* */
.attention {
  display: table;
  margin: 30px 0 0 3px;
  font-size: 12px;
}
.attention .ico-attention {
  display: table-cell;
  margin-right: 7px;
}
.attention .description {
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}
.ico-attention {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -32px -73px;
  width: 30px;
  height: 30px;
  display: block;
}
hr {
  margin: 0 -44px;
  background: transparent;
  border-top: 1px solid #e4e9ee;
  border-bottom: none;
}
.btn-more {
  display: block;
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -29px -112px;
  background-color: #8bb940;
  width: 37px;
  height: 18px;
  /* Для хороших браузеров */
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari, Chrome */
  -khtml-border-radius: 3px;
  /* KHTML */
  border-radius: 3px;
  /* CSS3 */
  margin: 18px 0;
}
.wg-message-box {
  position: relative;
  padding: 25px 32px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 12px;
  z-index: 1002;
  width: 640px;
}
.wg-message-box.success {
  background-color: #9cc22d;
}
.wg-message-box.error {
  background-color: #ff4115;
}
.wg-message-box .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.wg-message-box .close {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -36px -27px;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 32px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
}
.wg-message-box.message-fixed {
  position: fixed;
  top: 0;
}
.wg-collapse-panel {
  margin-bottom: 21px;
}
.wg-collapse-panel .panel-title {
  cursor: pointer;
  padding-bottom: 0.3em;
}
.wg-collapse-panel .panel-title h2 {
  margin: 0;
  position: relative;
}
.wg-collapse-panel .panel-title h2 span {
  border-bottom: 1px dotted #63656a;
}
.wg-collapse-panel .panel-title h2:after {
  content: '\e801';
  font-size: 11px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  margin-left: 15px;
  position: absolute;
  top: 12px;
}
.wg-collapse-panel .panel-title.open h2:after {
  content: '\e802';
}
.wg-collapse-panel .panel-content {
  display: none;
}
.wg-collapse-panel .panel-content .wg-collapse-subpanel {
  padding: 10px 20px 0;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
.wg-collapse-panel .panel-content .wg-collapse-subpanel .subpanel-title {
  cursor: pointer;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.wg-collapse-panel .panel-content .wg-collapse-subpanel .subpanel-content {
  margin-top: 20px;
}
.wg-collapse-panel .panel-content .wg-collapse-subpanel.open {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  padding: 10px 20px 30px;
  background-color: #ffffff;
}
.wg-collapse-panel.note .panel-title {
  position: relative;
}
.wg-collapse-panel.note .panel-title:after {
  content: '\e802';
  font-size: 7px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  margin-left: 5px;
  padding: 3px 3px 3px 4px;
  color: #FFFFFF;
  background-color: #819cb3;
  position: absolute;
  bottom: 8px;
}
.wg-collapse-panel.note .panel-title:hover:after {
  background-color: #5C6F80;
}
.wg-collapse-panel.note .panel-title.open:after {
  content: '\e806';
}
.wg-paginator {
  text-align: center;
  margin-top: 20px;
}
.wg-paginator .paginator_link {
  padding: 8px 13px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  /* Для хороших браузеров */
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari, Chrome */
  -khtml-border-radius: 3px;
  /* KHTML */
  border-radius: 3px;
  /* CSS3 */
  background-color: #BBC5CC;
  margin-right: 10px;
}
.wg-paginator .paginator_link.current-page {
  background-color: #383D43;
  cursor: default;
}
.wg-paginator .paginator_link:last-child {
  margin-right: 0;
}
.wg-paginator .paginator_link.link-ellipses {
  background: transparent;
  padding: 8px 0;
}
.wg-paginator .paginator_link.link-ellipses:before {
  color: #000000;
  content: "...";
}
.wg-switcher {
  display: inline-block;
}
.wg-switcher label.checkbox {
  width: 57px;
  height: 27px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../resources/img/iconset.png") no-repeat;
  background-position: -173px -160px;
  cursor: pointer;
}
.wg-switcher input[type=checkbox] {
  display: none;
}
.wg-switcher input[type=checkbox]:checked + label {
  background-position: -173px -195px;
}
.wg-switcher input[type=checkbox]:disabled + label {
  cursor: default;
  background-position: -173px -230px;
}
.wg-page-rating {
  float: right;
  width: 257px;
  margin: 10px 0 20px 0;
}
.wg-page-rating .wg-page-rating_content {
  width: 257px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 17px;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_title {
  font-size: 12px;
  display: inline-block;
  color: #a5a9b3;
  width: 123px;
  height: 19px;
  vertical-align: middle;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars {
  cursor: default;
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -246px -108px;
  width: 96px;
  display: inline-block;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars.stars_1 {
  background-position: -246px -125px;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars.stars_2 {
  background-position: -246px -142px;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars.stars_3 {
  background-position: -246px -159px;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars.stars_4 {
  background-position: -246px -176px;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars.stars_5 {
  background-position: -246px -193px;
}
.wg-page-rating .wg-page-rating_content .wg-page-rating_stars .star {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}
.wg-loader {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  border: 0;
  background: url("../../resources/img/loader_bg.png");
  z-index: 1005;
  height: 100%;
}
.wg-loader .wg-loader_content {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 100%;
  height: 64px;
}
.wg-loader .wg-loader_content .wg-loader_text {
  font-size: 13px;
  color: #a5a9b3;
  text-align: center;
  margin-top: 15px;
}
.wg-loader .wg-loader_content .wg-loader_spinner {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -183px -268px;
  height: 37px;
  width: 37px;
  display: inline-block;
  z-index: 100;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.wg-spinner {
  display: block;
  position: relative;
  height: 64px;
  margin-top: 20px;
}
.wg-spinner .wg-loader_content {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 100%;
  height: 64px;
}
.wg-spinner .wg-loader_content .wg-loader_text {
  font-size: 13px;
  color: #a5a9b3;
  text-align: center;
  margin-top: 15px;
}
.wg-spinner .wg-loader_content .wg-loader_spinner {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -183px -268px;
  height: 37px;
  width: 37px;
  display: inline-block;
  z-index: 100;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.wg-tooltip {
  width: 25px;
  height: 25px;
  color: darkgrey;
  font-size: 20px;
}
.wg-tooltip:hover {
  color: #808080;
}
.wg-table-row {
  display: block;
  list-style: none;
  margin: 0px -52px 20px -35px;
}
.wg-table-row li {
  height: 19px;
  padding: 13px 33px;
  border-bottom: 1px solid #e4e9ee;
  border-top: 1px solid #e4e9ee;
  position: relative;
}
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1003;
}
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child + html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}
.arcticmodal-container_i2 .box-modal {
  background-color: #ffffff;
  color: #545B6C;
  padding: 48px 48px 150px;
  z-index: 101;
  position: relative;
  width: 614px;
  min-height: 302px;
  line-height: 21px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.arcticmodal-container_i2 .box-modal.box-modal--wide {
  width: 840px;
}
.arcticmodal-container_i2 .box-modal .confirm-dialog-prices {
  font-size: 14px;
  margin: 22px 0;
}
.arcticmodal-container_i2 .box-modal .dialog-title {
  font-size: 32px;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  color: #383c42;
  margin-bottom: 13px;
  margin-top: 13px;
}
.arcticmodal-container_i2 .box-modal .form-line {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 48px;
}
.arcticmodal-container_i2 .box-modal .form-line .btn-submit {
  padding: 14px 73px;
}
.arcticmodal-container_i2 .box-modal .box-modal_close {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -36px -2px;
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 31px;
  border: none;
}
.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}
body,
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "BrickTrading Web", Arial, sans-serif;
}
h1 {
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #383d43;
  margin: 0.67em 0 1.5em;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  line-height: 24px;
  font-size: 22px;
  color: #000;
  margin: 2.13em 0 1.24em;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h6 {
  font-size: 12px;
  font-family: Arial, sans-serif;
}
body {
  background-color: #8f9fb2;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.row-inner {
  margin: 0 auto;
  /*width: 960px;*/
}
.row-inner:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.rubznak {
  font-family: Rubl;
}
.header .global-menu {
  background-color: #FFFFFF;
  color: #000000;
  display: block;
}
.header .global-menu .header-nav {
  list-style: none;
  padding: 0;
  float: left;
  margin: 0 0 0 211px;
}
.header .global-menu .header-nav-item {
  display: inline-block;
  position: relative;
}
.header .global-menu .header-nav-item a {
  display: block;
  color: #1f2229;
  line-height: 40px;
  padding: 0 24px;
  text-decoration: none;
}
.header .global-menu .header-nav-item.active {
  background-color: #1f2229;
  position: relative;
}
.header .global-menu .header-nav-item.active a {
  color: #ffffff;
  font-weight: bold;
}
.header .global-menu .header-nav-item.active:before {
  content: '';
  height: 40px;
  background: #fff;
  border-radius: 0 0 4px 0;
  width: 8px;
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
}
.header .global-menu .header-nav-item.active:after {
  content: '';
  height: 40px;
  background: #fff;
  border-radius: 0 0 0 4px;
  width: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
}
.header .header-content {
  border-bottom: 1px solid #1b1d22;
}
.header .header-content .content-row {
  background-color: #1f2229;
}
.header .header-content .header-logo {
  margin: 33px 0 0 32px;
  float: left;
}
.header .header-content .service-phone {
  display: inline-block;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  margin: 43px 0 0 109px;
}
.header .header-content .service-phone .icon-phone {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -240px -311px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}
.header .header-content .region-selector {
  float: right;
  line-height: normal;
  position: relative;
  margin: 51px 22px 42px 0;
  color: #ffffff;
}
.header .header-content .region-selector:before {
  content: "\e80b";
  font-family: fontello;
  color: inherit;
  font-size: 12px;
  position: absolute;
  display: inline-block;
  left: -15px;
}
.header .header-content .region-selector:after {
  content: "\e801";
  font-family: fontello;
  color: inherit;
  font-size: 12px;
  position: absolute;
  display: inline-block;
  right: -16px;
  top: 2px;
}
.header .header-content .region-selector a {
  font-family: "BrickTrading Web", Arial, sans-serif;
  display: inline-block;
  padding: 0;
  border-bottom: 1px dotted #ffffff;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
}
.header .header-menu {
  font-family: "BrickTrading Web", Arial, sans-serif;
}
.header .header-menu .header-navigation {
  margin: 0;
  padding: 0;
  background-color: #1f2229;
  list-style: none none;
  height: 42px;
  display: table;
  width: 100%;
}
.header .header-menu .header-navigation .header-menu-item {
  display: table-cell;
  position: relative;
  padding: 0;
  text-align: center;
  border-right: 1px solid #1b1d22;
  vertical-align: top;
}
.header .header-menu .header-navigation .header-menu-item:first-child {
  border-left-color: transparent;
}
.header .header-menu .header-navigation .header-menu-item.active,
.header .header-menu .header-navigation .header-menu-item:hover {
  background-color: #f7f8f8;
}
.header .header-menu .header-navigation .header-menu-item.active > a,
.header .header-menu .header-navigation .header-menu-item:hover > a {
  color: #111319;
  text-decoration: none;
}
.header .header-menu .header-navigation .header-menu-item > a {
  display: block;
  color: #fff;
  padding: 0 15px 1px;
  margin: 0 0 -1px 0;
  line-height: 42px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
.header .header-menu .header-navigation .header-menu-item > a:hover ~ .sub-menu {
  display: block;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu {
  display: none;
  background: #f7f8f8;
  position: absolute;
  left: 0;
  z-index: 9999;
  text-align: left;
  zoom: 1;
  min-width: 100%;
  right: auto;
  padding: 2px;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 4px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 4px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 4px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu:hover {
  display: block;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu .sub-menu-item {
  font-family: Arial, sans-serif;
  display: block;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  background: #f7f8f8;
  -webkit-transition: color 0.175s, background-color 0.175s, border-color 0.175s, z-index 0.175s;
  -moz-transition: color 0.175s, background-color 0.175s, border-color 0.175s, z-index 0.175s;
  transition: color 0.175s, background-color 0.175s, border-color 0.175s, z-index 0.175s;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu .sub-menu-item:hover {
  background-color: #10A5DE;
  border-color: #10A5DE;
  z-index: 20;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  transition-duration: 0.125s;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu .sub-menu-item:hover > a {
  color: #FFF;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu .sub-menu-item > a {
  color: #383D43;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px 19px;
  display: block;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu .sub-menu-item:first-child {
  margin-top: 0;
  border-top: none;
}
.header .header-menu .header-navigation .header-menu-item .sub-menu .sub-menu-item:last-child {
  border-bottom: none;
}
.header .header-menu .header-navigation .header-search {
  max-width: 200px;
  min-width: 170px;
  padding: 6px 8px;
  vertical-align: top;
  float: right;
  position: relative;
}
.header .header-menu .header-navigation .header-search form {
  position: relative;
  border: 1px solid #444958;
}
.header .header-menu .header-navigation .header-search form .header-search-form-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 5px -118px;
}
.header .header-menu .header-navigation .header-search form .header-search-form-input {
  display: block;
  padding: 5px 35px 6px 12px;
  margin: 0;
  width: 100%;
  height: 28px;
  border: none;
  background: none;
  color: #FFF;
  font: normal 15px/17px Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.header .header-menu .header-navigation .header-search.header-search-focus {
  background: #ffffff;
}
.header .header-menu .header-navigation .header-search.header-search-focus form {
  border-color: #b7b9bb;
}
.header .header-menu .header-navigation .header-search.header-search-focus form input {
  color: #0f1116;
}
.header .header-menu .header-navigation .header-search.header-search-focus form .header-search-form-button {
  background-position: 5px -148px;
}
.header .header-menu .header-navigation .header-search .autocomplete {
  display: none;
  position: absolute;
  top: 42px;
  left: 0 !important;
  right: 0;
  padding: 2px 0 0;
  margin: 0;
  cursor: default;
  background: #FFF;
  overflow: auto;
  max-height: 239px;
  z-index: 1010;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.header .header-menu .header-navigation .header-search .autocomplete .autocomplete-item {
  display: block;
  list-style: none;
  margin: -1px 0 0 0;
  padding: 12px 21px;
  border-bottom: 1px solid #e6e8e9;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
}
.header .header-menu .header-navigation .header-search .autocomplete .autocomplete-item a {
  color: #000000;
}
.header .header-menu .header-navigation .header-search .autocomplete .autocomplete-item:hover {
  background-color: #93c030;
}
.header .header-menu .header-navigation .header-search .autocomplete .autocomplete-item:hover a {
  color: #FFFFFF;
}
.main {
  min-height: 100%;
}
.main .hFooter {
  height: 393px;
  clear: both;
}
.main .content {
  margin: 1px auto;
  display: table;
}
.main .content-wide {
  display: block;
}
.main .aside {
  width: 318px;
  display: table-cell;
  vertical-align: top;
  padding: 0 2px 0 0;
}
.main .aside .menu {
  background: #1F2229;
  list-style: none;
  margin: 0 0 2px;
  padding: 9px 0 0 0;
}
.main .aside .menu .menu-item {
  border-bottom: 1px solid #2a2d37;
}
.main .aside .menu .menu-item:first-child {
  border-top-color: transparent;
}
.main .aside .menu .menu-item:last-child {
  border-bottom-color: transparent;
}
.main .aside .menu .menu-item a {
  padding: 27px 25px;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  line-height: 1.1;
  display: block;
}
.main .aside .menu .menu-item a.current-page {
  color: #545b6c;
}
.main .aside .menu .menu-item a:hover {
  background-color: #262B34;
}
.main .page-content {
  display: table-cell;
  vertical-align: top;
  background-color: #f7f8f8;
}
.main .page {
  padding: 32px 52px 40px 35px;
  font-size: 14px;
  color: #44444a;
  width: 640px;
  box-sizing: border-box;
  position: relative;
}
.main .page h1 {
  margin-bottom: 0.8em;
}
.main .page h1 + h2 {
  margin-top: 1.3em;
}
.main .page h2 {
  line-height: 1.35;
  margin-top: 31px;
  margin-bottom: 5px;
}
.main .page p {
  margin: 0 0 13px;
  line-height: 1.5;
}
.main .page .wg-progress-thin {
  margin: 7px 0 10px 0;
  background: #CCCED4;
}
.main .page .wg-progress-thin .filling {
  background-color: #545B6E;
}
.footer {
  margin-top: -300px;
  height: 400px;
  background: #1F2229;
}
.footer .site-map {
  padding: 37px 41px 8px 22px;
}
.footer .site-map h4 {
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
}
.footer .site-map.table {
  width: 100%;
  box-sizing: border-box;
}
.footer .site-map.table .table-row {
  margin-bottom: 27px;
}
.footer .site-map.table .table-cell,
.footer .site-map.table .column {
  width: 25%;
  float: left;
  position: relative;
  padding: 0 13px;
  box-sizing: border-box;
}
.footer .site-map.table .table-cell:last-child,
.footer .site-map.table .column:last-child {
  margin-right: 0;
}
.footer .site-map.table .table-cell ul,
.footer .site-map.table .column ul {
  list-style: none;
  margin-top: 27px;
}
.footer .site-map.table .table-cell ul li,
.footer .site-map.table .column ul li {
  line-height: 24px;
}
.footer .site-map.table .table-cell ul li a,
.footer .site-map.table .column ul li a {
  color: #D2D3D4;
  text-decoration: none;
  font-size: 12px;
}
.footer .site-map.table .table-cell ul li a:hover,
.footer .site-map.table .column ul li a:hover {
  color: #ffffff;
}
.footer .footer-copy {
  float: left;
  margin: 47px 0 0 20px;
  font-size: 12px;
  color: #fff;
}
.footer .footer-copy a {
  border-bottom: 1px solid #2D3139;
  color: #FFFFFF;
  font-family: "BrickTrading Web", Arial, sans-serif;
  font-weight: bold;
  margin: 0 0 0 27px;
  white-space: nowrap;
}
.footer .footer-copy a:hover {
  border-bottom: none;
  color: #6c7382;
  border-color: transparent;
}
.footer .footer-copy a:visited {
  color: #FFFFFF;
}
.footer .footer-search {
  width: 417px;
  margin: 30px 0 0 0;
  position: relative;
  float: right;
}
.footer .footer-search input {
  width: 100%;
  border: 1px solid #2d3139;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  line-height: 31px;
  height: 31px;
  padding: 0 31px 0 10px;
  color: #fff;
}
.footer .footer-search input:focus {
  border-color: #fff;
}
.footer .footer-search button {
  position: absolute;
  right: 0;
  border: 0;
  background: none;
  top: 0;
  height: 31px;
  padding: 0 8px;
  color: #32363e;
  font-size: 15px;
  cursor: pointer;
}
.footer .disclaimer {
  clear: both;
  color: #FFFFFF;
  font-size: 12px;
  margin: 16px 0 0 20px;
}
.submenu {
  float: left;
}
/*.btn {*/
  /*!* Для хороших браузеров *!*/
  /*-moz-border-radius: 3px;*/
  /*!* Firefox *!*/
  /*-webkit-border-radius: 3px;*/
  /*!* Safari, Chrome *!*/
  /*-khtml-border-radius: 3px;*/
  /*!* KHTML *!*/
  /*border-radius: 3px;*/
  /*!* CSS3 *!*/
  /*border: 2px solid #8bb940;*/
  /*color: #FFFFFF;*/
  /*font-size: 16px;*/
  /*font-family: Arial, sans-serif;*/
  /*margin: 9px 0;*/
  /*text-align: center;*/
  /*cursor: pointer;*/
  /*display: inline-block;*/
  /*padding: 11px 27px;*/
  /*height: 45px;*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
  /*-webkit-transition: all 0.2s;*/
  /*-moz-transition: all 0.2s;*/
  /*-o-transition: all 0.2s;*/
  /*transition: all 0.2s;*/
  /*line-height: 20px;*/
/*}*/
.btn.btn-default {
  color: #8bb940;
}
.btn.btn-default:hover {
  border-color: #82ad3d;
  background-color: #82ad3d;
  color: #FFFFFF;
}
.btn.btn-primary {
  background-color: #8bb940;
}
.btn.btn-primary:hover {
  border-color: #71992f;
  background-color: #71992f;
}
.btn.btn-grey {
  border: 2px solid transparent;
  background: transparent;
  color: #545b6c;
}
.btn.btn-grey:hover {
  color: #FFFFFF;
  border-color: #545B6C;
  background-color: #545B6C;
}
.btn.btn-negative {
  border: 2px solid #545B6C;
  color: #FFFFFF;
  background-color: #545B6C;
}
.btn.btn-white {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.btn.btn-white:hover {
  color: #1b1d22;
  border-color: #ffffff;
  background-color: #ffffff;
}
.btn.btn-warning {
  background-color: #ff4115;
  border-color: #ff4115;
}
.btn.btn-warning:hover {
  border-color: #d32e13;
  background-color: #d32e13;
}
.btn.disable {
  border: 2px solid #d1d1d1;
  color: #ffffff !important;
  background: #d1d1d1;
}
.btn.disable:hover {
  border: 2px solid #d1d1d1;
  color: #ffffff;
  background: #d1d1d1;
}
.btn.btn-link {
  color: #8bb940;
  border-color: transparent;
  background: transparent;
  padding: 0;
  height: auto;
  font-size: 14px;
}
.btn.btn-link:hover {
  text-decoration: underline;
}
.btn.btn-manage {
  border: 2px solid #249BE2;
  color: #249BE2;
}
.btn.btn-manage:hover {
  border: 2px solid #249BE2;
  background-color: #249BE2;
}
.breadcrumb {
  font-size: 12px;
  padding: 0;
  margin: 0 0 13px;
  border-bottom: none;
}
.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item:hover {
  color: #383d43 !important;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item.delimeter,
.breadcrumb .breadcrumb-item:hover.delimeter {
  background-image: url("../../resources/img/iconset.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 1px;
  width: 14px;
}
.breadcrumb .breadcrumb-item:last-child,
.breadcrumb .breadcrumb-item:hover:last-child,
.breadcrumb .breadcrumb-item:hover,
.breadcrumb .breadcrumb-item:hover:hover {
  color: #8f9fb2 !important;
}
form {
  color: #a5a9b3;
}
form .input {
  margin: 9px 0;
  padding: 0 11px;
  font-size: 14px;
  height: 37px;
  width: 225px;
}
.form-line {
  margin: 11px 0;
}
.disable {
  background-color: #f7f8f8;
  color: #a5a9b3 !important;
}
.text-warning {
  color: #EE3A23;
}
.table {
  display: table;
}
.table .table-row {
  display: table-row;
}
.table .table-row .table-cell {
  display: table-cell;
}
.font-12 {
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}
.font-27 {
  font-size: 27px;
}
.bold {
  font-weight: bold;
}
.table-list {
  border-collapse: collapse;
  line-height: 1.7;
  font-size: 18px;
  width: 100%;
  margin: 30px 0;
}
.table-list tr {
  border-top: 1px solid #e4e9ee;
  border-bottom: 1px solid #e4e9ee;
}
.table-list tr td {
  padding: 20px 0;
}
.table-list-brick {
  border-collapse: collapse;
  line-height: 1.7;
  font-size: 18px;
  width: 100%;
  margin: 30px 0;
}
.table-list-brick tr {
  border-top: 1px solid #e4e9ee;
  border-bottom: 1px solid #e4e9ee;
}
.table-list-brick tr td {
  padding: 20px 0;
}
.rubl:after {
  content: '\e809';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.submit-row {
  display: table;
}
.submit-row > div {
  display: table-cell;
}
.submit-row .additional-text {
  padding-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  color: #a5a9b3;
  max-width: 230px;
}
.icon-pencil:before {
  color: #8BB940;
}
.icon-pencil:hover:before {
  color: darkgreen;
}
.icon-cancel:before {
  color: #ff4115;
}
.icon-cancel:hover:before {
  color: darkred;
}
.text-grey {
  color: #a5a9b3;
}
.text-green {
  color: #8bb940;
}
#searchForm {
  padding: 0 !important;
}
.aside-banner {
  width: 100%;
  padding: 33px;
  background-color: #1f2229;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
.aside-banner .banner-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.aside-banner .banner-text {
  color: #ffffff;
}
.aside-banner .banner-img {
  margin: 15px 0;
  text-align: center;
}
.aside-banner .banner-img img {
  max-width: 252px;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
input {
  color: #383d43;
  border: 1px solid #e4e9ee;
}
input:focus {
  color: #383d43;
  border-color: #b7c5d6;
}
#dialog-confirm {
  display: none;
}
.availableTariffsPlaceholder {
  min-height: 180px;
}
.input-date {
/*TODO active*/
  width: 30px;
  size: 30px;
}
